*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #f0f3f5;
}

.logo{
  width: 50px;
  height: 50px;    
}

.title{
  font-size: 100px;
}

.logo, .title{
  vertical-align: middle;
}

.logo, .title, .button, .entities, h5, .cerchio, .tasks-content, .tasks-highlighted{
  display: inline-block;
}

button{
  color: #47ADF1;
}

header, nav, main{
  background-color: white;
}

header{
  margin-bottom: 40px;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

main, nav{
  width: 1000px;
  margin: auto;   
  padding-left: 50px;
}

nav{
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid #D4D8DC;
}

main{
  border-radius: 0 0 5px 5px;
  padding-bottom: 40px;
}

.button{
  height: 28px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: center;
  vertical-align: middle;
}

